<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanjun.xiang.common.dao.UserMapper">

    <insert id="userRegister">
        insert into user_info (`name`,phone,salt,password)  values (#{user.name},#{user.phone},#{user.salt},#{user.password})
    </insert>
</mapper>