server:
  port: 8883
spring:
  datasource:
    druid:
      db-type: mysql
      username: root
      password: 123456
      url: jdbc:mysql://localhost:3306/xyj?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&allowMultiQueries=true&serverTimezone=PRC&useSSL=false
      driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    host: 192.168.13.184
    port: 6379
    database: 0
    timeout: 120000
    jedis:
      pool:
        max-active: 10
        min-idle: 2
        max-wait: 1000
  application:
    name: xiangyanjun-common
  data:
    elasticsearch:
      cluster-name: es-1
      cluster-nodes: 192.168.13.250:9200
elasticsearch:
  hostlist: 192.168.13.250:9200
#  rabbitmq:
#    host: 127.0.0.1
#    port: 5672
#    username: admin
#    password: admin
#    publisher-confirms: true
#    # 开启ACK
#    publisher-returns: true
#    listener:
#      direct:
#        acknowledge-mode: manual
#      simple:
#        acknowledge-mode: manual
#    template:
#      exchange: logs

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8881/eureka

mybatis-plus:
  mapper-locations: classpath*:mappers/**/*.xml
  type-aliases-package: com.yanjun.xiang.common.entity
  global-config:
    db-config:
      id-type: AUTO
      db-type: MYSQL
      field-strategy: NOT_NULL
      table-underline: true
      logic-delete-value: 0
      logic-not-delete-value: 1
    sql-parser-cache: true
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false
    jdbc-type-for-null: NULL
